@model IEnumerable<PMQLSV.Models.Grades>

@{
    ViewData["Title"] = "Scores And Reviews";
}

<h1>Scores And Reviews for @Html.Partial("_Studentname", Model.FirstOrDefault()?.Student.User)</h1>

@if (Model.Any())
{
    <div>
        <h4>Grades</h4>
        <hr />
        <dl class="row">
            @foreach (var grade in Model)
            {
                <dt class="col-sm-2">
                    Grade:
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => grade.Grade)
                </dd>
                <dt class="col-sm-2">
                    Score:
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => grade.Score)
                </dd>
                <dt class="col-sm-2">
                    Graded By:
                </dt>
                <dd class="col-sm-10">
                    @if (grade.Student?.Class?.Teacher?.User != null)
                    {
                        @Html.Partial("_FullName", grade.Student.Class.Teacher.User)
                    }
                    else
                    {
                        <span>Teacher name unavailable</span>
                    }
                </dd>
            }
        </dl>
    </div>
}
else
{
    <div>
        <p>No grade information available for this student.</p>
    </div>
}
